.vscode/**
.snakemake/**
results/**
logs/**
.snakemake/**
*.codex
**.code-workspace
temp/**
plots/150_30X.RData
workflow/scripts/sfs_analysis_slow_done.RData
workflow/scripts/benchmark_mapping_results_150_50X_revision.RData
